.property-variant-wrapper {
  align-items: center;
  background-color: #ebf4f8;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 7.5px 30px;
  position: relative;
  width: fit-content;
}

.property-variant-wrapper .icon-lens-instance {
  background-image: url(../../../static/img/icon-lens-2.png) !important;
  min-width: 30px !important;
  position: relative !important;
  width: unset !important;
}
